name: Deploy to GitHub Pages

on: 
  push:
    branches:
      master

jobs:
  hugo-deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v4
      with:
        node-version: 22.9.0
    - run: which npm
    - run: which node
    - run: npm i
    - uses: iansmith/gh-actions-hugo-deploy-gh-pages@master
      env:
        GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        HUGO_VERSION: "0.136.4"
        PATH: /opt/hostedtoolcache/node/22.9.0/x64/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
